"""
    Cohesity REST API

    Cohesity API provides a RESTful interface to access the various data management operations on Cohesity cluster and Helios.  # noqa: E501

    The version of the OpenAPI document: 2.0
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from cohesity_sdk.cluster.api_client import ApiClient, Endpoint as _Endpoint
from cohesity_sdk.cluster.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from cohesity_sdk.cluster.models.error import Error
from cohesity_sdk.cluster.models.initiate_multi_tenant_deactivation import InitiateMultiTenantDeactivation
from cohesity_sdk.cluster.models.initiate_tenant_deactivation import InitiateTenantDeactivation


class TenantDeactivationApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

        def __initiate_multi_tenant_deactivation(
            self,
            **kwargs
        ):
            """initiate_multi_tenant_deactivation  # noqa: E501

            **Privileges:** ```ORGANIZATION_MODIFY``` <br><br>This API is to be used for initiating batch tenant deactivation workflow and orchestrating it  # noqa: E501
            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.initiate_multi_tenant_deactivation(async_req=True)
            >>> result = thread.get()


            Keyword Args:
                liveness_mode (str, none_type): Liveness mode for the tenants on this cluster.. [optional]
                ownership_mode (str, none_type): Ownership mode for the tenants on this cluster.. [optional]
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                InitiateMultiTenantDeactivation
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            return self.call_with_http_info(**kwargs)

        self.initiate_multi_tenant_deactivation = _Endpoint(
            settings={
                'response_type': (InitiateMultiTenantDeactivation,),
                'auth': [
                    'TokenHeader',
        
                    'APIKeyHeader',
                    'Bearer',
                    'SessionIdHeader'
                ],
                'endpoint_path': '/tenants/deactivations',
                'operation_id': 'initiate_multi_tenant_deactivation',
                'http_method': 'POST',
                'servers': None,
            },
            params_map={
                'all': [
                    'liveness_mode',
                    'ownership_mode',
                ],
                'required': [],
                'nullable': [
                    'liveness_mode',
                    'ownership_mode',
                ],
                'enum': [
                    'liveness_mode',
                    'ownership_mode',
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                    ('liveness_mode',): {
                        'None': None,
                        "ACTIVE": "Active",
                        "STANDBY": "Standby",
                        "SUSPEND": "Suspend"
                    },
                    ('ownership_mode',): {
                        'None': None,
                        "PRIMARY": "Primary",
                        "SECONDARY": "Secondary"
                    },
                },
                'openapi_types': {
                    'liveness_mode':
                        (str, none_type,),
                    'ownership_mode':
                        (str, none_type,),
                },
                'attribute_map': {
                    'liveness_mode': 'livenessMode',
                    'ownership_mode': 'ownershipMode',
                },
                'location_map': {
                    'liveness_mode': 'query',
                    'ownership_mode': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client,
            callable=__initiate_multi_tenant_deactivation
        )

        def __initiate_tenant_deactivation(
            self,
            id,
            **kwargs
        ):
            """initiate_tenant_deactivation  # noqa: E501

            ```Unknown Privileges``` <br><br>This API is to be used for initiating a tenant deactivation workflow and orchestrating it. This API is not be confused with the tenants/{id}/actions API which only updates the tenant state in cluster config and mark it as active/ inactive.  # noqa: E501
            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.initiate_tenant_deactivation(id, async_req=True)
            >>> result = thread.get()

            Args:
                id (str): The Tenant id.

            Keyword Args:
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                InitiateTenantDeactivation
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            kwargs['id'] = \
                id
            return self.call_with_http_info(**kwargs)

        self.initiate_tenant_deactivation = _Endpoint(
            settings={
                'response_type': (InitiateTenantDeactivation,),
                'auth': [
                    'TokenHeader',
        
                    'APIKeyHeader',
                    'Bearer',
                    'SessionIdHeader'
                ],
                'endpoint_path': '/tenants/{id}/deactivation',
                'operation_id': 'initiate_tenant_deactivation',
                'http_method': 'POST',
                'servers': None,
            },
            params_map={
                'all': [
                    'id',
                ],
                'required': [
                    'id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                    'id',
                ]
            },
            root_map={
                'validations': {
                    ('id',): {

                        'regex': {
                            'pattern': r'^([a-zA-Z0-9]+\/)$',  # noqa: E501
                        },
                    },
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'id':
                        (str,),
                },
                'attribute_map': {
                    'id': 'id',
                },
                'location_map': {
                    'id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client,
            callable=__initiate_tenant_deactivation
        )
